/* CONTENT */

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 24px 56px;
}

.about-heading {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 110px;
}

.about-heading h1 {
  font-size: 70px;
  color: #f4cf2f;
  text-transform: uppercase;
}

.about-heading p {
  font-size: 22px;
  font-weight: 600;
}

.about-grid {
  display: grid;
  grid-template-columns: 1.08fr 0.92fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 44px;
}

.about-image-container,
.about-image {
  width: 88%;
  margin-left: 39px;
}

.about-image {
  border-radius: 22px;
}

.about-text h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-text p {
  line-height: 1.8;
  margin-bottom: 18px;
  font-size: 1rem;
  color: #3b3b3b;
}

/* Team Section */

.team-section {
margin-top: 0px;
text-align: center;
margin-bottom: 130px;
}

.team-section h2 {
font-size: 30px;
font-weight: 600;
margin-bottom: 40px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.team-card {
background: #fff;
border-radius: 15px;
padding: 25px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.team-card:hover {
transform: translateY(-8px);
}

.team-image {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
padding: 15px;
margin-bottom: 10px;
/* border: 5px solid #f4cf2f; */
}

.team-card h3 {
font-size: 20px;
font-weight: 600;
margin-bottom: 8px;
}

.team-card p {
color: #666;
font-size: 16px;
margin-bottom: 15px;
}

