footer{
   padding: 20px 0 0 0;
   background-color: var(--primary-color); 
}

.footerContainer{
    width: 100%;
    padding: 20px 0 0 0;
}

.footer-social{
    display: flex;
    justify-content: center;
}

.footer-social a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--primary-color);
    margin: 10px;
    border-radius: 50%;
}

.footer-social a i{
    font-size: 25px;
    color: var(--secondary-color);
    opacity: 0.9;
}

.footer-social a:hover{
    background-color: var(--secondary-color);
    transition: 0.5s;
}

.footer-social a:hover i{
    color: var(--primary-color);
    transition: 0.5s;
}

footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 15px;
    color: var(--secondary-color);
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer-links{
    margin: 30px 0;
        margin-bottom: 50px;
}

.footer-links ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-links ul li a{
    color: var(--secondary-color);
    margin: 20px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-links ul li a:hover{
    opacity:1;
}

.footer-copyright{
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

.footer-copyright p{
    color: #ffffff;
}